# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
bankenv/
.bankvenv/
bankenv.bak/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Objects and model artifacts
objects/
*.joblib

# OS files
.DS_Store
Thumbs.db